# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/your_name_db?createDatabaseIfNotExist=true&useSSL=false&serverTimeZone=Asia/Ho_Chi_Minh
DB_USER=your_username
DB_PASS=your_password

# JWT Configuration
JWT_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_ISSUER=workshift-backend
JWT_EXPIRES_IN_SECONDS=900
JWT_REFRESH_EXPIRES_IN_SECONDS=604800

# Server Configuration
SERVER_PORT=your_server_port
